body {
  background: url("http://i.imgur.com/Bof5rAn.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img {
    height: 75%;
    width: 75%;
    opacity:.7;
    transition: opacity .5s;

}
.img:hover{
    opacity: 1;

}